.title{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.title h1{
     color: #2c2c2c;
    font-family: 'Impact';
    font-size: 33px;
    line-height: 40px;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 20px;
}
.story h2{
    margin-top: 0;
    margin-bottom: 10px;
    color: #2c2c2c;
    font-weight: 400;
    font-size: 20px;
}
.story p{
    color: #777;
    font-weight: 200;
    font-size: 13px;
    line-height: 19px;
}
@media (min-width: 768px){
.title {
    width: 100%;
    float: left;
}
}
.title h1:after{
    display: block;
    content: "";
    height: 2px;
    width: 200px;
    background: #e60012;
    margin: 30px auto;
    position: relative;

}

.story{
    font-size:16px; 
    line-height:28px;
    font-weight:300;
    padding-right:3%;
}
.story-section{
    display: flex;
    justify-content:space-evenly;
}
.about-button{
    margin: 20px;
    margin-left: 0px;
}
.about-btn{
    background-color: #e60012;
    color: #fff;
    border: #e60012 2px solid;
    padding: 15px 60px 15px;
    margin: 5px;
    border: 2px solid;
    display: inline-block;
    margin-left: 0px;
    text-transform: uppercase;
    font-weight: 600;
}
.img-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.about-img {
    width: 100%;
}